﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Methys</h1>
    <p class="lead">Part 1. Lets fix this ugly UI shall we...</p>
</div>

<div class="row">
    <h3>Tasks:</h3>

    <p>1. A designer has created the css and you need to implement this into the existing application</p>

    <p>2. Implement the login partial view so that it is displayed in all pages</p>

    <p>3. Implement Ajax call to retrieve data from server and display it in a control. <br />
        <a href="https://datatables.net/">Datatables.Net</a> te must be implemented and used to display the records</p>

    <p>4. I want to be able to edit only the occupation field of the employees. <br />
        Changes made must be saved by means of writing to a textfile in the DataFiles folder on the server</p>
</div>

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
</div>*@
